/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ol {
    font-family: sans-serif; list-style:none;
}

.pomodoro-estimate {
    font-weight: bold;
    color: #50C878;
    background-color: rgb(120,120,120);
    border-radius: 50px; 
}

#add-new-todo-button {
    margin:0px 0px 0px 70px;
    border: dotted 2px;
    color: #50C878;
    font-size: 30px;
    box-shadow:10px 10px 10px #90A4AE;
    padding:7px;
    display: block;
}

#add-new-todo-button:active {
    box-shadow:1px 1px 1px #90A4AE;
}

