<body>
    <h1>Workshop Todo List</h1>
        <ol>
            <% @todos.each do |todo| %>
                <li>
                    <input type="checkbox" name=""/>
                    <a href="show/<%= todo.id %>"><%= todo.description %></a>
                    <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
                </li>
            <% end %>    
        </ol>
        
        <input type="text" placeholder="create to todo list">
        <input type="number" placeholder="number of pomodoros">
        <input id="add-new-todo-button" type="submit" value="add todo">
        
</body>