<body>
    <h1>Workshop Todo List</h1>
        <ol>
            <% @todos.each do |todo| %>
                <li>
                    <input type="checkbox" name=""/>
                    <a href="/todo/show/<%= todo.id %>"><%= todo.description %></a>
                    <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
                </li>
            <% end %>    
        </ol>
        <form action="/todo/create">
        <input type="text" placeholder="create to todo list" name="description">
        <input type="number" placeholder="number of pomodoros" name="pomodoro_estimate">
        <input id="add-new-todo-button" type="submit" value="add todo">
        </form>
        
</body>